 .idea  
 .obsidian
 .obsidian/*  
 .vscode

/.obsidian/app.json
/.obsidian/app.json
/MyNotes/blog/config.toml
/MyNotes/blog/config.toml
/.obsidian/workspace.json
/backup
/conf
/history
/sync
/temp
/corrupted
.DS_Store
